# Eclipse metadata and settings
.metadata/
.recommenders/
.settings/
.project
.classpath

# Compiled files
bin/
*.class

# Log and temporary files
*.log
tmp/
hs_err_pid*
replay_pid*

# Package Files
*.jar
*.war
*.zip

# Mobile Tools for Java
.mtj.tmp/